name: Deploy main-backend to Azure

on:
  push:
    branches:
      - main
    paths:
      - "backend/main-backend/**"

jobs:
  deploy_to_dev:
    runs-on: ubuntu-latest
    name: Deploying main-backend to Dev
    environment: Dev
    defaults:
      run:
        working-directory: backend/main-backend
    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "oracle"

      - name: Maven Clean & Build
        run: |
          mvn clean package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_MAIN_BACKEND_APP_NAME }}
          package: "*.jar"

  deploy_to_qa:
    runs-on: ubuntu-latest
    name: Deploying main-backend to QA
    needs: deploy_to_dev
    environment: QA
    defaults:
      run:
        working-directory: backend/main-backend
    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "oracle"

      - name: Maven Clean & Build
        run: |
          mvn clean package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_MAIN_BACKEND_APP_NAME }}
          package: "*.jar"
  deploy_to_stage:
    runs-on: ubuntu-latest
    name: Deploying main-backend to Stage
    needs: deploy_to_qa
    environment: Stage
    defaults:
      run:
        working-directory: backend/main-backend
    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "oracle"

      - name: Maven Clean & Build
        run: |
          mvn clean package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_MAIN_BACKEND_APP_NAME }}
          package: "*.jar"
  deploy_to_prod:
    runs-on: ubuntu-latest
    name: Deploying main-backend to Prod
    needs: deploy_to_stage
    environment: Prod
    defaults:
      run:
        working-directory: backend/main-backend
    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "oracle"

      - name: Maven Clean & Build
        run: |
          mvn clean package

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ vars.AZURE_MAIN_BACKEND_APP_NAME }}
          package: "*.jar"
