name: Check postman collection

on:
  push:
    branches:
      - main
    paths:
      - "backend/main-backend/**"

jobs:
  check_postman_collection:
    runs-on: ubuntu-latest
    name: Build main-backend and upload artifact
    environment: Testing environment
    permissions: write-all
    env:
      GH_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
    steps:
      - name: Checkout Github Action
        uses: actions/checkout@v4
      - name: Test command
        run: |
          echo ${{vars.IS_ENV_ACTIVE}}
          gh variable set IS_ENV_ACTIVE --body "1"
          echo ${{vars.IS_ENV_ACTIVE}}
      # - name: Run Postman Collection
      #   uses: matt-ball/newman-action@master
      #   with:
      #     collection: ./backend/postman/Moneris Insights POC.postman_collection.json
